/*============================FONTS====================*/
@font-face {
    font-family: AvenirNextCondensed-DemiBold;
    src: url(../fonts/AvenirNextCondensed-DemiBold.ttf);
}

@font-face {
    font-family: AvenirNextCondensed-Regular;
    src: url(../fonts/AvenirNextCondensed-Regular.ttf);
}


@font-face {
    font-family: AvenirNextCondensed-Medium;
    src: url(../fonts/AvenirNextCondensed-Medium.ttf);
}

@font-face {
  font-family: AvenirNextCondensed-UltraLight;
  src: url(../fonts/AvenirNextCondensed-UltraLight.ttf);
}

@font-face {
    font-family: AbrilFatface-Regular;
    src: url(../fonts/AbrilFatface-Regular.ttf);
}

body {
  width: 100vw;
  position: relative;
}

h1 {
  /* Events: */
  /* Events: */
  font-family: AbrilFatface-Regular !important;
  font-size: 36px !important;
  color: #8F8E93 !important;
  letter-spacing: 0px !important;
  margin-bottom: 12px !important;
}

h1>.accent {
  margin-top: 6px;
  width: 80px;
  height: 2px;
  background: #FFA53C;
}
.stretch {
  min-height: calc(100vh - 162px) !important;
}
.content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  /*padding-top: 86px;*/
  left: 0px;
  right: 0px;
}

#banner-container {
  width: 100%;
  height: 320px;
  background-color: #000;
  background-image: url("../img/banner_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#banner-container.no-image {
  width: 100%;
  height: 59px;
  background-image: none;
  background-color: transparent;
}

.changeBG {
  background-image: none !important;
  overflow: hidden;
}

#banner-container.changeBG>img {
  width: 100%;
  height: auto;
  position: relative;
}


#header {
  position: fixed;
  top: 0px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 100;
}

.header-inner {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0px 4px 8px 2px rgba(66,27,27,0.30);
  /*border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;*/
  height: 0px;
  padding-bottom: 50px;
}

.leftContent {
  float: left;
}

.rightContent {
  float: right;
}
.rightContent>li, .leftContent>li{
  float: left;
}
.tab {
  height: 50px;
  width: 120px;
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
  float: left;
}

.tab:hover {
  border-bottom: solid 2px #373332;
}

#logo {
  width: 100%;
  height: 221px;
  background: url("../img/logo.svg") no-repeat;
  background-position: center bottom;
  margin-bottom: 14px;
}

#subtitle {
  max-width: 431px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  padding-left: 36px;
  padding-right: 36px;
}
#subtitle>.text{
  float: left;
  width: calc(100% - 42px);
  font-family: AvenirNextCondensed-DemiBold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

.left.bracket {
  float: left;
  width: 17px;
  height: 100%;
  background: url("../img/left_bracket.svg") no-repeat;
}


.right.bracket {
  float: right;
  width: 17px;
  height: 100%;
  background: url("../img/right_bracket.svg") no-repeat;
}

.padding {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

#posters {
  width: 100%;
  height: inherit;
  background: #F0F0F0;
  padding-top: 18px;
}
.row  {
  margin: 0px !important;
}
.event {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  left: 0px;
  right: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 2px rgba(66,27,27,0.30);
}
.event>.img-container {
  width: 100%;
  height: auto;
  /*margin-bottom: -36px*/
}

.event>.img-container>img {
  width: 100%;
  height: auto;
}

.event>.gradient {
  width: 100%;
  height: 36px;
  opacity: 0.4;
  background-image: linear-gradient(-180deg, rgba(43,21,21,0.00) 0%, #2B1515 100%);
}

.textCenter {
  text-align: center;
}
.eventInfo {
  background: #fff;
  padding-top: 10px;
  z-index: 100;
}
.caption {
  /* 24th July 2017: */
  font-family: AvenirNextCondensed-Regular;
  font-size: 16px;
  color: #8F8E93;
  letter-spacing: 0px;
}
.title {
  /* Summer 2017 Engplay: */
  font-family: AvenirNextCondensed-DemiBold;
  font-size: 16px;
  color: #373332;
  letter-spacing: 0px;
}
.eventInfo>.more {
  width: 100%;
  height: 38px;
  padding-top: 10px;
  border-top: solid 2px #F3F3F3 !important;
}

.eventInfo>.more:hover {
  width: 100%;
  height: 38px;
  border-top: solid 2px #F3F3F3 !important;
  border-bottom: solid 2px #373332;
}
a:hover {
  cursor: pointer;
  text-decoration: none !important;
  color: #FFA53C !important;
}

.eventInfo>div {
  margin-bottom: 10px;
}
a {
  cursor: pointer;
  font-family: AvenirNextCondensed-DemiBold !important;
  font-size: 14px;
  color: #FFA53C  !important;
  letter-spacing: 0px;
  outline: none;
}

a>.tab {
  color: #373332  !important;
}
button.clear {
  background-color: transparent;
  border: none;
}

.date>.accent {
  margin-top: 5px;
  width: 47px;
  height: 2px;
  background: #FFA53C;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
}

.padding.half {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

section {
  margin-bottom: 36px;
}

p {
  /* Two years ago, I too: */
  font-family: AvenirNextCondensed-Regular;
  font-size: 16px;
  color: #373332;
  letter-spacing: 0px;
  line-height: 24px;
  padding-top: 0px;
  margin-bottom: 18px;
  /* Two years ago, I too: */
}

#posters>div {
  padding: 9px !important;
}

footer {
  height: auto;
  background: #373332;
  padding-top: 18px;
  padding-bottom: 24px;
}

h2 {
  /* Contact Us: */
  font-family: AvenirNextCondensed-DemiBold !important;
  font-size: 24px !important;
  letter-spacing: 0px !important;
}

.light {
  color: #FFFFFF;
}
#links {
  width: 128px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
}
#links>a {
  float: left;
}
.icon {
  width: 40px;
  height: 40px;
  margin: 12px;
}

#mail>.icon {
  background: url("../img/icon_mail.svg") no-repeat;
  background-size: contain;
}
#facebook>.icon {
  background: url("../img/icon_facebook.svg") no-repeat;
  background-size: contain;
}

ul{
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px !important;
}
.screenGutter {
  margin-bottom: 0px !important;
  margin-top: 86px !important;
}

.eventCard-container {
  max-width: 100%;
  height: 0px;
  /*padding-top: 18px;*/
}

.eventCard-container.autoHeight {
  height: auto;
}
.eventCard {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 2px rgba(66,27,27,0.30);
}

.eventCard>.row>div {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.eventCard>.row>div>.row>.title , .eventCard>.row>div>.row>.caption{
  margin-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
}
.action-container {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 9px;
  padding-right: 9px;
  border-top: solid 2px #F3F3F3 !important;
}

.eventCard>.row>div>img {
  width: 100%;
  height: auto;
}

.eventCard>.row>#specs {
  margin-top: 12px;
}
.eventDesc-container {
  min-height: 537px !important;
  padding-left: 0px !important;
  padding-right: 18px !important;
}

.eventDesc, .eventName-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.eventName {
  padding-top: 0px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: AvenirNextCondensed-DemiBold;
  font-size: 54px;
  color: #373332;
  letter-spacing: 0px;
  line-height: 54px;
}

button {
  text-transform: uppercase !important;
  font-size: 14px !important;
  letter-spacing: 0px !important;
  outline: none;
}
button.CTA {
  font-family: AvenirNextCondensed-DemiBold;
  background: #FFA53C;
  /*letter-spacing: 1px !important;*/
  border: none;
  width: 100%;
  height: 50px;
  color: #fff !important;
  font-size: 18px !important;
  border-radius: 2px !important;
  max-width: 360px;
}

button.CTA:hover {
  background: #FFB257;
}

.casting {
  margin-top: 27px !important;
}
.padding-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
.cast-container {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.cast-container>.cast {
  height: 185px;
}
.cast {
  background: #FFFFFF;
  /*box-shadow: 0px 4px 8px 2px rgba(66,27,27,0.30);*/
  padding-bottom: 12px;
  margin-bottom: 27px;
}

.cast>img {
  width: 100%;
  margin-bottom: 12px;
}


@media (max-width: 767px) {
  .eventCard-container {
      height: auto !important;
  }

  .eventName-container {
    padding-bottom: 18px;
  }

  .reorder-xs {
    transform: rotate(180deg);
    direction: rtl; /* Fix the horizontal alignment */
  }

  .reorder-xs > [class*="col-"] {
    transform: rotate(-180deg);
    direction: ltr; /* Fix the horizontal alignment */
  }
  .header-inner>ul.rightContent {
    width: 100vw;
    padding-top: 50px;
    height: 50px;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 4px 8px 2px rgba(66,27,27,0.30);
  }
  .header-inner {
    box-shadow: none;
  }
  .header-inner>ul.rightContent {
    height: 0px;
    overflow-y: hidden;
  }

  .header-inner>ul.rightContent>li>a>.tab {
    width: 100vw;
  }


  button.menu {
    display: block !important;
    width: 56px;
    height: 50px;
    right: 0px;
    background: transparent;
    border: none;
    position: absolute;
    z-index: 9999;
  }
}

button.menu {
  display: none;
}
button.menu.open {
  background: url(../img/menu_open.svg) no-repeat;
  background-size: 24px 24px;
  background-position: center center;
}
button.menu.close {
  background: url(../img/menu_close.svg) no-repeat;
  background-size: 24px 24px;
  background-position: center center;
}
.hidden {
  visibility: none;
}

.play>.eventName {
  padding-top: 36px;
  padding-bottom: 18px;
}
.play>.caption {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.play>.caption.summary {
  margin-bottom: 94px !important;
}
.play>.title {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.action-container.align-bottom {
  margin-top: -76px;
}
/*=====Carousel======*/


.scrollable {
    height: 480px;
    width: 270px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.items>img {
    max-height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 9px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper>iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.logoSmall {
  background: url(../img/logo_small.svg) no-repeat;
  background-position: 18px 9px;
  background-size: auto 32px;
  margin-bottom: -50px;
  position: absolute;
  z-index: 99999;
}
